.toolbar{
  background-color: #26a2e0;
  border-radius: 1px;
  color: white;
}
.toolbar-spacer{
  flex: 1 1 auto;
  background-color: #234150;
  flex-direction: column;
}
.cancelbtn{
  background-color: #ff2800 !important;
  color: white !important;
}

.savebtn{
  background-color:rgb(8, 84, 197) !important;
  color:white !important; 
}

// price and currecy input
.currency-select-wrapper {
  display: inline-flex !important;
  align-items: center !important;
  margin-right: 8px !important;
}

.currency-select {
  min-width: 60px !important; /* Adjust to fit the currency codes */
}

.price-input {
  width: calc(100% - 70px) !important; /* Adjust this based on the currency-select width */
}